@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
.background{
    background-image:url("https://assets.ccbp.in/frontend/intermediate-rwd/dream-car-bg.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:50px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-end;
    padding: 20px;
    padding-right: 35px;
}
.heading{
    font-size: 60px;
    color: white;
    font-family: 'Roboto';
    text-align: end;
}
.para{
    font-size: 30px;
    color: white;
    font-family: 'Roboto';
    text-align: end;
    margin-top: 5px;
}
.image{
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-end;
    margin-bottom: 60px;
    padding: 50px;
}